$color-light-100: #fafafa;
$color-light-200: #f5f5f5;
$color-dark-500: #616161;
$color-dark-900: #000;

$color-purple-200: #e0c3fc;
$color-purple-500: #9c27b0;
$color-purple-700: #7b1fa2;
$color-blue-200: #8ec5fc;
$color-blue-500: #2196f3;
$color-blue-700: #0d47a1;
