@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");
@import "mixins";
@import "variables";
@import "game";

body {
  width: 100vw;
  height: 100vh;
  background-color: $color-blue-200;
  background-image: linear-gradient(
    62deg,
    $color-blue-200 0%,
    $color-purple-200 100%
  );
}

h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: $color-dark-900;
  margin: 0;
  padding: 0;
  text-align: center;
}

p,
span,
label {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: $color-dark-900;
  text-align: center;
}

select,
option,
input,
button {
  font-size: 1.1rem;
  font-weight: 500;
}

select {
  width: 10rem;
  padding: 0.5rem;
  text-align: center;

  option {
    text-align: center;
  }
}

button {
  width: 10rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  color: $color-light-100;
  background-color: $color-blue-500;
}

.flex {
  display: flex;
  gap: 1rem;

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }
}

.gradient-border {
  width: 20rem;
  height: 30rem;
  padding: 1rem;
  margin: auto;
  border-radius: 1rem;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.33, $color-blue-700),
    color-stop(0.67, $color-blue-500)
  );
  background-image: -moz-linear-gradient(
    center bottom,
    $color-blue-700 33%,
    $color-blue-500 67%
  );
}

#app {
  width: 98%;
  height: 98%;
  padding: 1rem;
  border-radius: 1rem;

  background: $color-light-100;
}
