@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

$card_width: 10rem;
$card_height: 15rem;

.card {
  width: $card_width;
  height: $card_height;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
